---
import LanguageSelector from '../components/LanguageSelector.jsx'; // Caminho para o seu componente React
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Site Astro</title>
</head>
<body>
  <div>
    <!-- Usando o componente React dentro do Astro -->
    <LanguageSelector client:visible />
  </div>
</body>
