---
// Exemplo: Misturando múltiplos componentes de frameworks na mesma página.
import HomeSite from './nefits/index.jsx';

---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Site Astro</title>
</head>
<body>
  <div>
    <!-- Usando o componente React dentro do Astro -->
    <HomeSite />
  </div>
</body>