<<<<<<< HEAD
---
<<<<<<< HEAD
// Redireciona para o idioma padrão
return Astro.redirect('/pt');
---

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/pt" />
    <script>
      // Detectação do idioma do navegador (opcional)
      const userLang = navigator.language || navigator.userLanguage;
      const targetLang = userLang.startsWith('en') ? '/en' : '/pt';
      window.location.replace(targetLang);
    </script>
    <title>Redirecionando...</title>
  </head>
  <body>
    <p>Redirecionando para <a href="/pt">NEFITS</a>...</p>
  </body>
</html> -->
=======
import HomeSite from './nefits/index.jsx';
import LanguageSelector from '../components/LanguageSelector.jsx';
import Translator from "../components/i18n/translator";
import styles from "./styles.module.css";
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEFITS</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/favicon_nefits.ico" type="image/x-icon" />

</head>
<body>
    <!-- Usando o componente React dentro do Astro -->
   <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div style="background-color: #eeeeee; width: 100%"><LanguageSelector client:load /></div>
      
      <HomeSite client:load />
    </div>
</body>
<<<<<<< HEAD
>>>>>>> 11babe2 (atualizando ajustes nos idiomas do site)
=======
=======
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecionando...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p class="text-center text-gray-700 p-8">Redirecionando para o idioma preferido...</p>
    <script is:inline>
      const supportedLangs = ["pt", "en"];
      const savedLang = localStorage.getItem("language") || navigator.language?.split('-')[0] || "pt";
      const lang = supportedLangs.includes(savedLang) ? savedLang : "pt";
      window.location.pathname = "/" + lang;
    </script>
  </body>
</html>
>>>>>>> 868aff2 (refatorando site)
>>>>>>> 27b4553 (ajustes nos idiomas do site)
