---
import NoticiasSite from './nefits/noticias.jsx';
import LanguageSelector from '../components/LanguageSelector.jsx';
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEFITS</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/favicon_nefits.ico" type="image/x-icon" />
</head>
<body>
    <!-- Usando o componente React dentro do Astro -->
   <div>
      <NoticiasSite client:load />
    </div>
</body>