---
// Exemplo: Misturando múltiplos componentes de frameworks na mesma página.
import PublicacoesSite from './nefits/publicacoes.jsx';
import LanguageSelector from '../components/LanguageSelector.jsx';
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEFITS</title>
</head>
<body>
    <!-- Usando o componente React dentro do Astro -->
   <div>
      <LanguageSelector client:load />
      <PublicacoesSite client:load />
    </div>
</body>
