---
// src/components/FooterSection.astro
import Fapesp from "./Fapesp.astro";
import Rodape from "./Rodape.astro";

const { lang, t } = Astro.props;
---

<div class="mt-8">
  <Fapesp lang={lang} t={t} />
  <Rodape lang={lang} t={t} />
</div>
