---
import { useTranslations } from "../i18n/translations";
const { lang } = Astro.params;
const t = useTranslations(lang);
---

<div class="text-start mb-12">
  <h1 class="text-[2rem] font-bold text-[#ab090e] mb-4">
    {t("noticias.titulo")}
  </h1>
  <p class="text-[#656565] font-light mb-2">
    {t("noticias.texto")} {t("noticias.texto_categorias")}
    <a
      href={`/${lang}/tags`}
      class="text-[#ab090e] font-semibold hover:underline">
      {t("noticias.ver_categorias")}.
    </a>
    <p class="text-[#656565] font-light"></p>
  </p>
</div>
