---
const { lang, t } = Astro.props;
---

<footer class="bg-[#eeeeee] w-full px-6 py-8 text-sm text-neutral font-light">

  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    
    <!-- Redes sociais -->
    <div>
      <h4 class="text-[#ab090e] font-bold uppercase tracking-wider text-base mb-2">
        {t("1.social")}
      </h4>
      <div class="flex gap-4 items-center">
        <a href="https://www.instagram.com/nefits.unesp?igsh=MTQxcXhiYjd5N2R1">
          <img src="/images/instagram_rodape2.svg" alt="Instagram" class="w-8" />
        </a>
        <a href="#">
          <img src="/images/linkedin_rodape2.svg" alt="LinkedIn" class="w-8" />
        </a>
        <a href="https://www.youtube.com/@nefits8028">
          <img src="/images/youtube_rodape.svg" alt="YouTube" class="w-8" />
        </a>
      </div>
    </div>

    <!-- Contato -->
    <div>
      <h4 class="text-[#ab090e] font-bold uppercase tracking-wider text-base mb-2">
        {t("1.contato")}
      </h4>
      <p class="text-[0.85rem]">nefits.unesp@gmail.com</p>
    </div>

    <!-- Logo -->
    <div class="flex items-center justify-center md:justify-end">
      <img src="/images/logos_rodape.svg" alt="Logo NéFiTs" class="w-66" />
    </div>
  </div>

  <hr class="my-6 border-[#B1B2B5]" />

  <p class="text-center text-[0.8rem]">
    Design por <b class="text-[#ab090e] font-bold">Júlia dos Santos Silveira</b> © 2024 Current
  </p>
</footer>
