@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

[data-theme='dark'] .main{
    background-color: transparent;
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
.heroBanner {
    text-align: center;
    background-color: #eeeeee;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

[data-theme='dark'] .heroBanner{
    background-color: transparent;
}

.intro img{
    width: 100%;
    margin-left: 3em;
}

.ulLista{
    background-color: #eeeeee;
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin-right: 3em;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
    width: 100;
    object-fit: contain;
    text-align: end;
}

[data-theme='dark'] .ulLista{
    background-color: #eeeeee;
}

.liLista{
    float: left;
    cursor: pointer;
}

.liListaSelecionado a{
    display: block;
    padding: 8px;
    background-color: #eeeeee;
    color: #ab090e;
    font-weight: 400;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none !important;
}

.liLista a {
    display: block;
    padding: 8px;
    background-color: #eeeeee;
    color: #000000;
    font-weight: 400;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    text-decoration: none !important;
}

[data-theme='dark'] .liLista a{
    background-color: #eeeeee;
    color: #000000;
}

.liLista a:hover, .liLista a.active, .selecionado{
    background-color: #eeeeee;
    color: #ab090e;
    font-weight: 700;
}

[data-theme='dark'] .liLista a:hover{
    background-color: #eeeeee;
    color: #ab090e;
}

@media(max-width:525px){
    .liLista a{
        font-size: 0.9
    }
}

@media(max-width:470px){
    .liLista a{
        font-size: 0.8rem;
    }
}

@media(max-width:359px){
    .liLista a{
        font-size: 0.6rem;
    }
}

@media(max-width:300px){
    .liLista a{
        font-size: 0.5rem;
    }
}

.texto{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: 1rem;
    font-weight: 300;
}

.textoEquipe{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: .75rem;
    font-weight: 300;
    margin-bottom: .25rem;
}

.descricao{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: .7rem;
    font-weight: 300;
    margin-bottom: 0;
}

.containerUm{
    background-color: #F1E6E6;
}

.titulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
}

.btnUm{
    background-color: #ab090e;
    color: #eeeeee;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
}

.containerCards{
    width: 80%;
}

.SobreCards{
    text-align: center;
    width: 5rem;
    height: 5rem;
}

.sobreTitulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
}

.sobreTexto{
    font-family: "Comfortaa", sans-serif;
    font-size: .8rem;
    font-weight: 300;
    color: #656565;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .5rem;
}

.btnSobre{
    background-color: #ab090e;
    color: #eeeeee;
    font-family: "DM Sans", sans-serif;
    font-size: .7rem;
    font-weight: 700;
    padding: .5rem .5rem;
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
}

.Cards{
    background-color: #f1f1f1;
    padding: 0.2rem;
    border-radius: 3%;
    align-items: center;
}

a{
    text-decoration: none !important;
}

.sobreImg{
    width: 18rem;
}

.containerEquipe{
    border: 2px solid transparent;
    border-radius: 1rem;
}

.fotoEquipe{
    min-height: 165px;
}

.tituloEquipe{
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .25rem;
}

.social{
    width: 1.5rem;
}

.cardNoticias{
    border: 2px solid #f1f1f1;
}

.nav-link.active{
    color: #ab090e !important;
    font-weight: 700 !important;
    font-family: "Comfortaa", sans-serif !important;
}

.imgHome{
    max-width: 25rem !important;
}

.cardProjetos{
    border: 1px solid #fafafa;
    background-color: #f1f1f1;
    border-radius: 1rem;
}

.cardTitulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .5rem;
}

.cardSubtitulo{
    font-family: "Comfortaa", sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #656565;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .5rem;

}

.cardTexto{
    font-family: "Comfortaa", sans-serif;
    font-size: .8rem;
    font-weight: 300;
    color: #656565;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .5rem;
}

.nav-link{
    font-family: "Comfortaa", sans-serif;
    color: #bfbfbf !important;
}

.card{
    max-width: 540px !important;
}

.rodape{
    background-color: #eeeeee;
    padding: 1rem 3rem .5rem 2rem;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

.abas{
    min-height: 100vh;
}

.hr{
    color: #B1B2B5;
    margin-top: 1rem;
}

.textoRodape b, .textoRodape2 b{
    color: #AB090E;
    font-weight: 900;
}

.textoRodape{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: .85rem;
    font-weight: 300;
}

.textoRodape2{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: .75rem;
    font-weight: 300;
}

.tituloRodape{
    font-family: "Comfortaa", sans-serif;
    color: #AB090E;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.nav-link{
    font-family: "Comfortaa", sans-serif !important;
    color: #AB090E !important;
}

.textoLink a{
    color: #ab090e;
    font-weight: 400;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none !important;
}

.logoMenu img{
    width: 8rem;
}

/*
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

.imgCarrossel{
    opacity: 0.75 !important;
    filter: grayscale(25%);
}

    .imgCarrossel:hover, .imgCarrossel::selection{
        opacity: 1 !important;
        filter: grayscale(0%);
    }

    .carousel-control-prev-icon, .carousel-control-next-icon{
        background-color: #ab090e;
    }

.tituloCarrossel{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fafafa;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.widthCarrossel{
    max-width: 1750px;
}

@media(max-width:1400px) {
    .tituloCarrossel{
        font-size: 1rem;
    }

    .btnUm{
        font-size: .8rem;
    }
}


.logoRodape{
    width: 6rem;
}

.rodape2{
    background-color: #f1e6e6;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}