---
const { title = 'NéFiTs', lang = 'pt' } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-white text-gray-900 font-sans">
    <slot />
  </body>
</html>
